* {
  outline: 1px solid black;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  padding: 0;
  margin: 0;
}
body img {
  max-width: 100%;
  height: auto;
}
body h1,
body h2,
body h3,
body p,
body ul {
  margin: 0;
  padding: 0;
}
body .wrapper {
  max-width: 1168px;
  margin: auto;
}
body a {
  text-decoration: none;
}
.slider {
  border-bottom: 4px solid #4bcaff;
}
.slider ul li {
  position: relative;
}
.slider ul li .slide-text {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #fff;
  max-width: 640px;
  font-family: 'Lato', sans-serif;
}
.slider ul li .slide-text h2 {
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 35px;
}
.slider ul li .slide-text h2 span {
  font-weight: bold;
}
.slider ul li .slide-text p {
  margin-bottom: 44px;
  font-size: 18px;
}
.slider ul li .slide-text a {
  color: #fff;
  border: 3px solid #fff;
  padding: 24px 50px;
  border-radius: 9px;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
}
.slider ul li img {
  margin-bottom: -4px;
}
.slider header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.slider header .wrapper .logo {
  float: left;
  margin: 15px 0 40px 0;
}
.slider header .wrapper nav {
  float: right;
}
.slider header .wrapper nav ul {
  list-style: none;
  margin: 43px 0 47px 0;
}
.slider header .wrapper nav ul li {
  float: left;
  margin-left: 37px;
}
.slider header .wrapper nav ul li:first-child {
  margin-left: 0;
}
.slider header .wrapper nav ul li a {
  display: block;
  color: #fff;
  font-size: 13px;
  font-family: 'Droid Sans', sans-serif;
}
.slider header .wrapper nav ul li a:hover {
  color: #4bcaff;
}
.unslider-nav {
  max-width: 1168px;
  margin: -18px auto 0 auto;
  position: relative;
  top: -15px;
}
.first-section {
  background: #f9f9f9;
}
.first-section .wrapper {
  padding-top: 58px;
  margin-bottom: 57px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.first-section .wrapper > h2 {
  color: #414042;
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 600;
}
.first-section .wrapper > h3 {
  margin-bottom: 72px;
  color: #414042;
  font-size: 20px;
}
.first-section .wrapper div article {
  width: 30%;
  margin-left: 5%;
  float: left;
}
.first-section .wrapper div article:first-child {
  margin-left: 0;
}
.first-section .wrapper div article img {
  margin-bottom: -2px;
  margin-bottom: 30px;
}
.first-section .wrapper div article h2 {
  margin-bottom: 30px;
  color: #414042;
  font-size: 15px;
  font-weight: 600;
}
.first-section .wrapper div article p {
  margin-bottom: 117px;
  color: #838383;
  font-size: 13px;
  line-height: 1.7;
}
