@import "config.less";

.slider{
	border-bottom: 4px solid #4bcaff;

	ul{
		li{
			position: relative;

			.slide-text{
				position: absolute;
				top: 40%;
				left: 40%;

				color: #fff;
				max-width: 640px;
				font-family: 'Lato', sans-serif;

				h2{
					font-size: 48px;
					font-weight: normal;
					margin-bottom: 35px;

					span{font-weight: bold;}
				}

				p{
					margin-bottom: 44px;
					font-size: 18px;
				}

				a{
					color: #fff;
					border: 3px solid #fff;
					padding: 24px 50px;
					border-radius: 9px;
					font-weight: bold;
					font-size: 15px;
					display: inline-block;
				}
			}

			img{margin-bottom: -4px;}
		}
	}

	header{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;

		.wrapper{
			.logo{
				float: left;
				margin: 15px 0 40px 0;
			}
			nav{
				float: right;

				ul{
					list-style: none;
					margin: 43px 0 47px 0;

					li{
						float: left;
						margin-left: 37px;

						&:first-child{margin-left: 0;}

						a{
							display: block;
							color: #fff;
							font-size: 13px;
							font-family: 'Droid Sans', sans-serif;

							&:hover{ color: #4bcaff;}
						}
					}
				}
			}
		}
	}
}

.unslider-nav{
	max-width: 1168px; margin: -18px auto 0 auto; position: relative; top: -15px;
}

.first-section{
	padding-top: 58px;



	
}