.seasonal-maintenance-of-automatic-watering-systems {
	// parallax
	// background: url('../img/bg/06.jpg') center 0 no-repeat;
	// background-size: cover;
	
	padding-top: 50px;
	padding-bottom: 50px;

	.wrap {
		padding: 20px;

		background: #fff;
		opacity: .7;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		border-radius: 10px;
	}

	h2 {
		// padding-top: 20px;
		margin-bottom: 25px;
		
		font-family: @sfb;
	}

	.left {
		float: left;
		width: 180px;
		margin-right: 15px;

		font-size: 0;
	}

	.right {
		overflow: hidden;

		p {
			margin-bottom: 20px;
			
		}

		h3 {
			margin-top: 20px;

			font-family: @sfb;			
		}
	}
}