@import "../lib/normalize.css";
@import "../lib/unslider.css";
@import "../lib/unslider-dots.css";
* {
  outline: 1px solid black;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000;
  background: #fff;
}
body img {
  max-width: 100%;
  height: auto;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}
body .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-header {
  background: #eee;
}
.main-header .main-logo {
  float: left;
  margin: 50px 0 18px 0;
  font-size: 0;
}
.main-header .main-nav {
  float: left;
  margin: 76px 0 0 200px;
}
.main-header .main-nav ul {
  margin: 0;
  padding: 0;
}
.main-header .main-nav ul li {
  float: left;
  margin-left: 45px;
}
.main-header .main-nav ul li:first-child {
  margin-left: 0;
}
.main-header .main-nav ul li a {
  display: block;
  color: #000;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.main-header .basket {
  float: right;
  margin-top: 76px;
}
.main-header .basket a {
  background: url("../img/basket.png") no-repeat 0 2px;
  color: #000;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 24px;
}
