main{
	background: #fff;

	>h1{
		width: 550px;
		margin: 0 auto;
		margin-bottom: 36px;
		
		font-weight: 700;
		font-size: 21px;
		line-height: 26px;
		text-align: center;
	}

	>p{
		margin: 0;
		margin-bottom: 52px;

		color: #333;
		font-size: 14px;
		line-height: 26px;
		text-align: center;
	}

	.features1-text-itembg{
		.features1-text{
			float: left;
			width: 33.33333%;
		}

		.features1-itembg{
			float: right;
			width: 66.66666%;
			height: 256px;

			background: url('../img/image1.jpg') no-repeat;
		}
	}

	.features1-list{
		background: #fff;

		.features1-item1{
			float: left;
			height: 334px;

		}

		.features1-item2{
			float: left;
			height: 334px;

		}

		.features1-item3{
			float: left;
			height: 334px;

		}
	}

	.features2-itembg-text{
		.features2-itembg{
			float: left;
			width: 66.66666%;
			height: 256px;

			background: url('../img/image2.jpg') no-repeat;
		}

		.features2-text{
			float: right;
			width: 33.33333%;
		}
	}

	.features2-list{
		background: #eee;

		.features2-item1{
			float: left;
			height: 258px;

		}

		.features2-item2{
			float: left;
			height: 258px;
		}

		.features2-item3{
			float: left;
			height: 258px;
		}
	}
}