* {
  outline: 1px solid black;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  line-height: 1;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body a {
  text-decoration: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  width: 970px;
  margin: 0 auto;
}
.flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 121px;
  background: url(../img/flag.png);
}
header {
  background: #f56262;
}
header .wrapper {
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
header .wrapper .logo {
  margin: 26px 0;
  float: left;
  color: #fff;
  min-width: 170px;
}
header .wrapper .logo .log-top {
  overflow: hidden;
  margin-bottom: 15px;
}
header .wrapper .logo .log-top img {
  float: left;
  margin-right: 10px;
  width: 48px;
  height: 36px;
}
header .wrapper .logo .log-top h1 {
  float: right;
  font-size: 35px;
  margin-top: 3px;
}
header .wrapper .logo .log-top h1 a {
  color: #fff;
}
header .wrapper .logo p {
  font-size: 17px;
  line-height: 1.4;
}
header .wrapper nav {
  float: right;
  margin: 40px 0;
}
header .wrapper nav ul {
  list-style: none;
}
header .wrapper nav ul li {
  float: left;
  margin-left: 22px;
}
header .wrapper nav ul li:first-child {
  margin-left: 0;
}
header .wrapper nav ul li a {
  padding: 12px 10px 9px 10px;
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}
header .wrapper nav ul li a:hover {
  background: #232324;
}
section.first {
  background: #232324;
}
section.first .wrapper {
  text-align: center;
  padding: 52px 10px 28px 10px;
  box-sizing: border-box;
}
section.first .wrapper > h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 26px;
  line-height: 1;
}
section.first .wrapper > p {
  margin-bottom: 42px;
  font-size: 20px;
  line-height: 1.2;
  color: #d94948;
}
section.first .wrapper .first-bottom {
  float: left;
  width: 33.3333%;
}
section.first .wrapper .first-bottom img {
  margin-bottom: -2px;
}
section.first .wrapper .first-bottom article h3 {
  margin: 26px 0 20px 0;
  color: #fff;
  font-size: 30px;
  line-height: 0.8;
}
section.first .wrapper .first-bottom article p {
  color: #e74c3c;
  font-size: 18px;
  line-height: 1.16;
}
section.second {
  background: #6cc372;
}
section.second .wrapper {
  padding: 52px 10px 26px 10px;
  box-sizing: border-box;
  text-align: center;
}
section.second .wrapper h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 26px;
}
section.second .wrapper p {
  font-size: 20px;
  color: #232324;
  margin-bottom: 41px;
}
section.second .wrapper .second-bottom {
  background: #fff;
  width: 23.7%;
  float: left;
  margin-right: 1.7%;
  border-radius: 5px;
  min-height: 403px;
  padding: 0 12px 12px 12px;
  box-sizing: border-box;
}
section.second .wrapper .second-bottom.last {
  margin-right: 0;
}
section.second .wrapper .second-bottom img {
  border: 9px solid #6cc372;
  border-radius: 50%;
  margin: 25px 0 27px 0;
}
section.second .wrapper .second-bottom h3 {
  font-size: 25px;
  color: #6cc372;
  margin-bottom: 23px;
}
section.second .wrapper .second-bottom p {
  font-size: 18px;
  color: #e74c3c;
  margin-bottom: 26px;
}
section.second .wrapper .second-bottom .btn {
  background: url(../img/twitter2.png) no-repeat 9px #6cc372;
}
section.second .wrapper .second-bottom .btn a {
  color: #fff;
  font-size: 25px;
  display: block;
  padding: 18px 0 12px 0;
}
section.third .third-top {
  background: #f0f0f0;
  height: 258px;
}
section.third .third-bottom {
  background: #fff;
  height: 350px;
}
section.third .fourth-bottom p {
  color: #eb4f4e;
  font-size: 20px;
  text-align: center;
  padding-bottom: 35px;
}
section.third .wrapper {
  position: relative;
}
section.third .wrapper .main {
  position: absolute;
  top: 80px;
  left: 0;
}
section.third .wrapper .main .block {
  float: left;
  margin-left: 25px;
  width: 300px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
}
section.third .wrapper .main .block:first-child {
  margin-left: 0;
}
section.third .wrapper .main .block h2 {
  color: #616161;
  font-size: 40px;
  margin: 26px 0;
}
section.third .wrapper .main .block > p {
  color: #eb4f4e;
  font-size: 20px;
  margin-bottom: 28px;
}
section.third .wrapper .main .block .middle ul {
  list-style: none;
  background: #f0f0f0;
}
section.third .wrapper .main .block .middle ul li {
  padding: 19px 0;
  font-size: 18px;
  color: #616161;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d8d8d8;
}
section.third .wrapper .main .block .middle ul li.last {
  border-bottom: none;
}
section.third .wrapper .main .block .bottom {
  background: #616161;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
section.third .wrapper .main .block .bottom p:first-child {
  float: left;
  padding: 25px 0 25px 12px;
  color: #fff;
  font-size: 25px;
}
section.third .wrapper .main .block .bottom p:first-child span:first-child {
  font-size: 32px;
}
section.third .wrapper .main .block .bottom p:first-child span + span {
  font-size: 64px;
  font-weight: 600;
}
section.third .wrapper .main .block .bottom p + p {
  float: right;
  padding: 30px 10px 30px 0;
}
section.third .wrapper .main .block .bottom p + p a {
  padding: 14px 19px 9px 19px;
  background: #fff;
  color: #616161;
  font-size: 21px;
  display: block;
  border-radius: 5px;
}
section.fourth {
  background: #eb4f4e;
}
section.fourth .wrapper {
  padding: 50px 10px 32px 10px;
  box-sizing: border-box;
  text-align: center;
}
section.fourth .wrapper h2 {
  margin-bottom: 26px;
  color: #fff;
  font-size: 40px;
  line-height: 0.6;
}
section.fourth .wrapper h2 + p {
  margin-bottom: 33px;
  color: #232324;
  font-size: 20px;
}
section.fourth .wrapper > div {
  margin-bottom: 30px;
}
section.fourth .wrapper > div img {
  margin-bottom: -3px;
}
section.fourth .wrapper div + p {
  color: #1f1f20;
  font-size: 21px;
  line-height: 1.7;
}
section.fourth .wrapper div + p span {
  color: #fff;
}
footer {
  background: #232324;
}
footer .wrapper {
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
footer .wrapper .ftr-left {
  float: left;
  margin: 19px 0;
  font-size: 18px;
  line-height: 1.7;
  color: #fff;
}
footer .wrapper .ftr-left span {
  color: #eb4f4e;
}
footer .wrapper .ftr-right {
  float: right;
  font-size: 0;
  width: 100px;
  margin-top: 20px;
}
footer .wrapper .ftr-right img {
  margin-left: 8px;
}
footer .wrapper .ftr-right img:first-child {
  margin-left: 0;
}
.map {
  position: relative;
}
.map div + div {
  width: 617px;
  background: #232324;
  background: rgba(35, 35, 36, 0.9);
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -308px;
  text-align: center;
}
.map div + div h2 {
  color: #fff;
  font-size: 30px;
  margin-top: 21px;
  margin-bottom: 34px;
}
.map div + div p.first {
  color: #eb4f4e;
  font-size: 20px;
  margin-bottom: 34px;
}
.map div + div p + p {
  color: #eb4f4e;
  font-size: 20px;
  margin-bottom: 26px;
}
