.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  background: #000 url("../img/bg-content.jpg");
  color: #000;
}
body img {
  max-width: 100%;
  height: auto;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}
.wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.btn {
  display: inline-block;
  padding: 15px 32px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  background: #000;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #663d15;
}
.btn:active {
  background: #163d15;
}
.modal-content {
  background: #fff;
  background: url("../img/bg-popup.png") 0 0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  color: #000;
  width: 300px;
  margin-left: -230px;
  display: none;
  padding: 50px 80px;
  position: absolute;
  top: 120px;
  left: 50%;
  z-index: 20;
}
.modal-content h2 {
  margin: 0;
  margin-bottom: 28px;
  color: #000;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}
.modal-content p {
  margin: 0;
  margin-bottom: 16px;
  color: #000;
  font-weight: 700;
  font-size: 14;
  text-transform: uppercase;
}
.modal-content .login-form input[name="login"],
.modal-content .login-form input[name="password"] {
  background: #f9f6f3;
  border: 2px solid #000101;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 40px 13px 13px;
  box-sizing: border-box;
  width: 300px;
  margin-bottom: 10px;
}
.modal-content .login-form input[name="login"]::placeholder,
.modal-content .login-form input[name="password"]::placeholder {
  background: #f9f6f3;
  color: #888;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.modal-content .login-form input[name="login"] {
  background: url("../img/popup-login.png") no-repeat 270px 14px;
}
.modal-content .login-form input[name="password"] {
  background: url("../img/popup-password.png") no-repeat 270px 14px;
  margin-bottom: 15px;
}
.modal-content .login-form .login-checkbox {
  float: left;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
.modal-content .login-form .login-checkbox .box {
  margin-bottom: 17px;
}
.modal-content .login-form .restore {
  float: right;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}
.modal-content .login-form .restore:hover {
  text-decoration: none;
}
.modal-content .login-form button {
  background: #000;
  border: none;
  cursor: pointer;
  padding: 14px 0;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.modal-content .login-form button:hover {
  background: #333;
}
.modal-content .close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 21px;
  height: 21px;
  background: url("../img/x.png") no-repeat;
  border: 0;
  cursor: pointer;
}
.modal-content .close:hover {
  opacity: 0.4;
  background: url("../img/x.png") no-repeat;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.show {
  display: block;
}
.modal-error {
  animation: shake 0.6s;
}
@keyframes shake {
  0% 100% {
    tramsform: translateX(0);
  }
  10% 30% 50% 70% 90% {
    tramsform: translateX(-10px);
  }
  20% 40% 60% 80% {
    tramsform: translateX(10px);
  }
}
.main-header {
  background: #000;
  margin-bottom: 56px;
  overflow: hidden;
}
.main-header .main-nav {
  float: left;
  margin-left: 18px;
  width: 810px;
}
.main-header .main-nav .logo {
  float: left;
  width: 111px;
  height: 24px;
  margin-top: 22px;
  margin-right: 20px;
  font-size: 0;
}
.main-header .main-nav .logo a {
  display: block;
}
.main-header .main-nav ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-header .main-nav ul li {
  float: left;
}
.main-header .main-nav ul li.active {
  position: relative;
  background: none;
}
.main-header .main-nav ul li.active:after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 5px;
  background: #fff;
}
.main-header .main-nav ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding: 25px 20px;
}
.main-header .main-nav ul li a:hover {
  background: #242424;
}
.main-header .user-block {
  float: right;
  max-width: 140px;
  background: url("../img/login.png") no-repeat 0 26px;
}
.main-header .user-block a {
  display: block;
  padding: 25px 20px;
  padding-left: 32px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.main-header .user-block a:hover {
  color: #777;
}
main {
  padding-bottom: 80px;
}
main .top-main h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  font-size: 30px;
  line-height: 42px;
}
main .top-main ul {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
main .top-main ul li {
  float: left;
}
main .top-main ul li:first-child {
  padding-right: 32px;
  position: relative;
}
main .top-main ul li:first-child:after {
  content: "";
  position: absolute;
  top: 4px;
  right: 12px;
  width: 10px;
  height: 10px;
  background: #000;
  transform: rotate(45deg);
}
main .top-main ul li a {
  color: #000;
}
main .top-main ul li.current {
  color: #aba9a7;
}
main .bottom-main .big-heading h2 {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 58px;
}
main .bottom-main .inner-top-columns {
  margin-bottom: 64px;
}
main .bottom-main .inner-top-columns .inner-top-columns-left {
  float: left;
  width: 460px;
}
main .bottom-main .inner-top-columns .inner-top-columns-left h2 {
  font-size: 24px;
  line-height: 30px;
  width: 270px;
  margin: 0;
  margin-bottom: 34px;
}
main .bottom-main .inner-top-columns .inner-top-columns-left .custom-list {
  margin: 0;
  padding: 0;
}
main .bottom-main .inner-top-columns .inner-top-columns-left .custom-list li {
  font-size: 14px;
  line-height: 24px;
  position: relative;
  margin-top: 24px;
  padding-left: 18px;
}
main .bottom-main .inner-top-columns .inner-top-columns-left .custom-list li:first-child {
  margin-top: 0;
}
main .bottom-main .inner-top-columns .inner-top-columns-left .custom-list li:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #000;
  transform: rotate(45deg);
}
main .bottom-main .inner-top-columns .inner-top-columns-right {
  float: right;
  width: 460px;
}
main .bottom-main .inner-top-columns .inner-top-columns-right h2 {
  width: 220px;
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 30px;
}
main .bottom-main .inner-top-columns .inner-top-columns-right .prices-table {
  border-collapse: collapse;
  font-size: 14px;
  line-height: 24px;
}
main .bottom-main .inner-top-columns .inner-top-columns-right .prices-table td {
  width: 228px;
  box-sizing: border-box;
  padding: 12px 16px;
  border: 2px solid #000101;
}
main .bottom-main .inner-bottom-columns h2 {
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 30px;
}
main .bottom-main .inner-bottom-columns .inner-bottom-columns-left {
  float: left;
  width: 460px;
}
main .bottom-main .inner-bottom-columns .inner-bottom-columns-left p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
main .bottom-main .inner-bottom-columns .inner-bottom-columns-right {
  float: right;
  width: 460px;
}
main .bottom-main .inner-bottom-columns .inner-bottom-columns-right p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
.main-footer {
  padding: 40px 0 60px 0;
  background: #222222;
  box-shadow: 0 5px 30px 0 #000 inset;
}
.main-footer p,
.main-footer b,
.main-footer a {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.main-footer .footer-contacts {
  float: left;
  width: 320px;
  margin: 0;
  margin-right: 60px;
}
.main-footer .footer-contacts a {
  border-bottom: 2px solid #929292;
}
.main-footer .footer-contacts a:hover {
  border-bottom: none;
}
.main-footer .footer-social {
  width: 180px;
  float: left;
  text-align: center;
  margin: 0;
}
.main-footer .footer-social b {
  margin: 0;
  margin-bottom: 19px;
  display: block;
}
.main-footer .footer-social a {
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
}
.main-footer .footer-social a:hover {
  outline: 2px solid #fff;
}
.main-footer .footer-copyright {
  float: right;
  width: 180px;
  margin: 0;
  text-align: center;
}
.main-footer .footer-copyright b {
  margin: 0;
  margin-bottom: 18px;
  display: block;
}
.main-footer .footer-copyright .btn {
  padding: 12px 20px;
}
.main-footer .footer-copyright .btn:hover {
  background: #fff;
  color: #000;
}
