* {
  outline: 1px solid grey;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  padding: 0;
  margin: 0;
  background: #000 url("../img/bg.jpg") no-repeat 0 0;
}
body img {
  max-width: 100%;
  height: auto;
}
body h1,
body h2,
body h3,
body p,
body ul,
body input {
  margin: 0;
  padding: 0;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}
body * {
  font-family: 'PT Sans Narrow', sans-serif;
}
.wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  background: #000;
  margin-bottom: 60px;
}
.main-header .main-nav {
  float: left;
  margin: 28px 0 28px 20px;
  width: 760px;
}
.main-header .main-nav ul li {
  float: left;
  margin-left: 40px;
}
.main-header .main-nav ul li:first-child {
  margin-left: 0;
}
.main-header .main-nav ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-header .main-nav ul li a:hover {
  color: #aaa;
}
.main-header .user-block {
  float: right;
  margin: 28px 20px 28px 0;
  background: url("../img/login.png") 0 2px no-repeat;
}
.main-header .user-block a {
  padding-left: 32px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.main-header .user-block a:hover {
  color: #aaa;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 15px 32px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
main .logo {
  width: 368px;
  height: 152px;
  margin: 0 auto;
  font-size: 0;
  margin-bottom: 80px;
}
main .features {
  margin-bottom: 80px;
  text-align: center;
}
main .features .features-item {
  float: left;
  width: 300px;
  margin-left: 20px;
}
main .features .features-item b {
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #f7f4f1;
}
main .features .features-item p {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #f7f4f1;
}
main .features .features-item:first-child {
  margin-left: 0;
}
main .content {
  padding: 50px 80px;
  margin-bottom: 35px;
  background: url("../img/bg-content.jpg") 0 0;
}
main .content h2 {
  color: #000;
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}
main .content p {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
main .content .content-news {
  float: left;
  width: 380px;
}
main .content .content-news p {
  margin-bottom: 14px;
}
main .content .content-news time {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
main .content .content-news li {
  margin-bottom: 32px;
}
main .content .content-gallery {
  float: right;
  width: 300px;
}
main .content .content-gallery h2 {
  margin-bottom: 27px;
}
main .content .content-gallery .gallery {
  font-size: 0;
  overflow: hidden;
}
main .content .content-gallery .gallery img {
  border: 7px solid #fff;
  margin-bottom: 38px;
}
main .content .content-gallery .gallery .gallery-prev {
  float: left;
  padding: 11px 48px;
}
main .content .content-gallery .gallery .gallery-next {
  float: right;
  padding: 11px 48px;
}
main .content .content-contact {
  float: left;
  width: 380px;
}
main .content .content-contact .btn-way {
  float: left;
}
main .content .content-contact .btn-feedback {
  float: right;
}
main .content .content-form {
  float: right;
  width: 300px;
}
main .content .content-form form input {
  margin-bottom: 20px;
  border: 2px solid #000101;
  padding: 13px;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  width: 110px;
}
main .content .content-form form input[name="data"] {
  float: left;
}
main .content .content-form form input[name="time"] {
  float: right;
}
main .content .content-form form input[name="name"] {
  float: left;
}
main .content .content-form form input[name="tel"] {
  float: right;
}
main .content .content-form form button {
  width: 100%;
}
.main-footer {
  margin-top: 65px;
  padding: 40px 0 60px 0;
  background: #222222;
}
.main-footer p,
.main-footer a {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.main-footer .footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}
.main-footer .footer-contacts a {
  border-bottom: 2px solid #929292;
}
.main-footer .footer-social {
  width: 180px;
  float: left;
  text-align: center;
}
.main-footer .footer-social p {
  margin-bottom: 19px;
}
.main-footer .footer-copyright {
  float: right;
  width: 180px;
  text-align: center;
}
.main-footer .footer-copyright p {
  margin-bottom: 18px;
}
.main-footer .footer-copyright .btn {
  padding: 12px 20px;
}
