@import "config.less";

.wrapper{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.btn{
	// как и теги a,input не наследует свойства родителя
	display: inline-block;
	background: #000;
	color: #fff;
	padding: 15px 32px;
	font-size: 14px;
	line-height: 24px;
	border: none;
	cursor: pointer;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	vertical-align: center;

	&:hover{background: #663d15;}
	&:active{background: #163d15;}
}

.main-header{
	background: #000;
	margin-bottom: 60px;

	.main-nav{
		float: left;
		margin-left: 20px;
		width: 760px;

		ul{
			margin: 0;
			padding: 0;
			list-style: none;

			li{
				float: left;

				a{
					color: #fff;
					font-size: 16px;
					line-height: 20px;
					display: block;
					padding: 25px 20px;

					&:hover{
						background: #242424;
						border-bottom: 5px solid #fff;
						padding-bottom: 20px;
					}
				}
			}
		}
	}

	.user-block{
		float: right;
		max-width: 140px;

		// поменять на спрайт
		background: url("../img/login.png") no-repeat 0 26px;

		a{
			display: block;
			padding: 25px 20px;
			padding-left: 32px;
			color: #fff;
			font-size: 16px;
			line-height: 20px;

			&:hover{color: #777;}
		}
	}
}

main{
	.logo{
		width: 368px;
		height: 152px;
		margin: 0 auto;
		font-size: 0;
		margin-bottom: 80px;
	}
	
	.features{
		margin-bottom: 80px;
		
		.features-item{
			float: left;
			width: 300px;
			text-align: center;
			margin-left: 20px;

			&:first-child{margin-left: 0;}

			b{
				display: block;
				font-size: 30px;
				line-height: 42px;
				color: #f7f4f1;
				margin: 0;
				margin-bottom: 30px;
				
				// ромбик
				position: relative;
				padding-bottom: 35px;

				&::after{
					content: "";
					display: block;
					width: 20px;
					height: 20px;
					background: #fff;
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -10px;
					transform: rotate(45deg);
				}
			}

			p{
				margin: 0;
				color: #000;
				font-size: 14px;
				line-height: 24px;
				color: #f7f4f1;
			}
		}
	}

	.content{
		padding: 50px 80px;
		margin-bottom: 35px;
		color: #000;
		background: url("../img/bg-line.png") no-repeat center, #f8f5f2 url("../img/bg-content.jpg") 0 0;

		h2{
			margin: 0;
			font-size: 30px;
			line-height: 42px;
			margin-bottom: 25px; 
		}

		p{
			margin: 0;
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 25px;
		}

		.content-news{
			float: left;
			width: 380px;

			p{margin: 0; margin-bottom: 14px;}

			time{
				color: #000;
				font-size: 14px;
				line-height: 24px;
				text-transform: none;
			}

			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				
				li{margin-bottom: 25px;}
			}
		}

		.content-gallery{
			float: right;
			width: 300px;

			h2{margin: 0; margin-bottom: 27px;}

			.gallery{
				font-size: 0;
				overflow: hidden;
				
				img{border: 7px solid #fff; margin-bottom: 38px;}
				
				.gallery-prev{
					float: left;
					padding: 11px 48px;	
				}
				.gallery-next{
					float: right;
					padding: 11px 48px;	
				}
			}
		}

		.content-contact{
			float: left;
			width: 380px;

			.btn-way{float: left;}
			.btn-feedback{float: right;}
		}

		.content-form{
			float: right;
			width: 300px;

			form{
				overflow: hidden;

				input{
					margin-bottom: 20px;
					border: 2px solid #000101;
					padding: 13px;
					color: #000;
					font-size: 14px;
					line-height: 24px;
					width: 110px;
					font-family: "PT Sans Narrow", "Arial", sans-serif;
					font-weight: bold;
					text-transform: uppercase;
				}

				input[name="data"]{float: left;}
				input[name="time"]{float: right;}
				input[name="name"]{float: left;}
				input[name="tel"]{float: right;}

				input:focus{border: 2px solid #663d15;}

				button{width: 100%; clear: both;}
			}
		}
	}
}

.main-footer{
	margin-top: 65px;
	padding: 40px 0 60px 0;
	background: #222222;
	
	p, a{
		color: #fff;
		font-size: 14px;
		line-height: 24px;
	}

	.footer-contacts{
		float: left;
		width: 320px;
		margin-right: 60px;

		p{margin: 0;}	

		a{
			border-bottom: 2px solid #929292;

			&:hover{border-bottom: none;}
		}
	}

	.footer-social{
		width: 180px;
		float: left;
		text-align: center;

		p{margin: 0; margin-bottom: 19px;}

		a{
			display: inline-block;
			vertical-align: top;
			width: 43px;
			height: 43px;
			
			&:hover{outline: 2px solid #fff;}
		}
	}

	.footer-copyright{
		float: right;
		width: 180px;
		text-align: center;

		p{margin: 0; margin-bottom: 18px;}

		.btn{
			padding: 12px 20px;
			
			&:hover{background: #fff; color:#000;}
		}
	}
}