.main-footer{
	.footer-social{
		width: 300px;
		float: left;
		margin: 68px 0;
		margin-right: 100px;

		font-size: 0;

		a:first-child{
			display: inline-block;
			width: 79px; 
			height: 79px;
			margin-right: 10px; //+2

			background: url("../img/vk.png") no-repeat;

			&:hover{
				background: url("../img/vk-hover.png") no-repeat;
			}

			&:active{
				background: url("../img/vk-active.png") no-repeat;
			}
		}
		a:first-child+a{
			display: inline-block;
			width: 79px; 
			height: 79px;
			margin-right: 10px;

			background: url("../img/fb.png") no-repeat;

			&:hover{
				background: url("../img/fb-hover.png") no-repeat;
			}

			&:active{
				background: url("../img/fb-active.png") no-repeat;
			}
		}
		.last{
			display: inline-block;
			width: 79px; 
			height: 79px;
			margin-right: 10px;

			background: url("../img/insta.png") no-repeat;

			&:hover{
				background: url("../img/insta-hover.png") no-repeat;
			}

			&:active{
				background: url("../img/insta-active.png") no-repeat;
			}
		}
	}

	.footer-sales{
		float: left;
		width: 600px;
		margin: 78px 0;

		h3{
			margin: 0;
			margin-bottom: 18px;

			color: #000;
			font-size: 36px;
			line-height: 36px;
			font-weight: 700;
		}

		p{
			margin: 0;

			color: #444444;
			font-size: 16px;
			line-height: 22px;
		}
	}
}
