main{
	background: #fff;
	color: #000;

	.main-features{
		padding-bottom: 80px;

		border-bottom: 2px solid #eeeeee;

		article{
			float: left;
			width: 300px;
			margin-left: 100px;
			
			&:first-child{margin-left: 0;}
			
			&:first-child a{
				&:hover{background: #e74246;}
				&:active{background: #d7373b;}
			}

			// a in article
			&:first-child+article a{
				background: #00ca74;

				&:hover{background: #00bc6c;}
				&:active{background: #00aa62;}
			}

			&.last a{
				background: #efc84a;
				
				&:hover{background: #eab534;}
				&:active{background: #e5a722;}
			}
			
			img{margin-bottom: -2px;}

			h2{
				margin: 0;
				padding: 0;
				margin: 28px 0;
				
				color: #000;
				font-size: 24px;
				line-height: 30px;
				text-transform: uppercase;
				font-weight: 700;
			}

			p{
				margin: 0;
				padding: 0;
				margin-bottom: 36px;

				font-size: 16px;
				line-height: 24px;
				color: #283136;
			}

			a{
				background: #fb565a;
				border-radius: 5px;

				color: #fff;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 18px;
				vertical-align: center;
				font-weight: 500;

				display: inline-block;
				padding: 18px 38px;
			}
		}
	}

	.main-content{
		padding-bottom: 76px;
		margin-bottom: 45px;

		border-bottom: 2px solid #eeeeee;

		.content-left{
			float: left;
			width: 700px;
			margin-top: 84px;

			h2{
				margin: 0;
				padding: 0;
				margin-bottom: 42px;

				color: #000;
				font-size: 45px;
				line-height: 45px;
				font-weight: 500;
			}

			p{
				margin: 0;
				padding: 0;
				margin-bottom: 42px;

				color: #283136;
				font-size: 16px;
				line-height: 24px;
			}

			h3{
				margin: 0;
				padding: 0;
				margin-bottom: 34px;
				text-transform: uppercase;

				color: #000;
				font-size: 16px;
				line-height: 24px;
				font-weight: 700;
			}

			ul{
				margin: 0;
				padding: 0;
				list-style: none;

				li{
					background: url("../img/short-line.png") no-repeat 0 10px;
					
					padding-left: 36px;
					margin-top: 34px;
					
					color: #283136;
					font-size: 16px;
					line-height: 24px;

					&:first-child{margin-top: 0;}
				}
			}
		}

		.content-right{
			float: right;
			width: 360px;
			margin-top: 40px;

			text-align: center;
			
			img{margin-bottom: 36px;} //+2
			
			>p{
				margin: 0;
				margin-bottom: 36px;
				
				color: #000;
				font-weight: bold;
				font-size: 16px;
				line-height: 24px;
				text-transform: uppercase;
			}

			table{
				border-collapse: collapse;

				.prices{
					text-align: left;
					color: #000;
					font-weight: bold;
					font-size: 45px;
					line-height: 45px;

					td{
						padding-bottom: 20px;
						padding-left: 20px;

						&:first-child{padding-left: 0;}
					}

					.sub{
						font-size: 25px;

						margin-right: 25px;
					}
				}

				.prices-text{
					color: #283136;
					font-size: 16px;
					line-height: 18px;
					text-align: left;

					td{
						padding-left: 20px;

						&:first-child{padding-left: 0;}
					}
				}
			}
		}
	}

	.main-brands{
		padding-bottom: 47px;
		margin-bottom: 80px;

		border-bottom: 2px solid #eeeeee;

		.brand1, .brand2, .brand3{
			float: left;
			width: 209px; 
			height: 87px;

			opacity: 0.2;

			&:hover{opacity: 1;}
			&:active{opacity: 0.1;}
		}

		.brand1{
			margin-left: 30px;

			background: url("../img/brand1.png") no-repeat;
		}

		.brand2{
			margin-left: 260px;

			background: url("../img/brand2.png") no-repeat;
		}

		.brand3{
			margin-left: 260px;
			
			background: url("../img/brand3.png") no-repeat; 
		}
	}
}