.box-slider{
	background: #eee;
	margin-bottom: 80px;

	.slider{
		background: #eee;

		//классический вариант слайдера
		width: 1160px;
		height: 429px;
		margin: 0 auto;
		
		position: relative;

		.slider-controls{
			position: absolute;
			bottom: 89px;
			left: 50%;

			width: 200px;
			height: 10px;
			margin-left: -113px;
			z-index: 100;

			text-align: center;

			i{
				display: inline-block;
				width: 4px;
				height: 4px;
				margin: 0 3px;
				margin-right: 18px;

				background: black;
				border: 3px solid white;
				vertical-align: top;
				border-radius: 50%;
				cursor: pointer;
			}

			.active{
				background: #c1c1c1;
			}
		}

		.slides{
			.slide{
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;
				overflow: hidden;

				display: none;

				.slide-text{
					width: 380px;
					padding: 30px 0;
					margin-top: 40px;

					color: #283136;

					.slide-title{
						font-size: 55px;
						line-height: 1;
						font-weight: bold;
						color: black;
					}

					p{
						color: #283136;
						font-size: 16px;
						line-height: 24px;
					}

					.btn{
						display: block;
						width: 240px;
						padding: 10px 0;
						margin-top: 25px;

						font-size: 16px;
						line-height: 18px;
						color: white;
						text-transform: uppercase;
						text-align: center;
						text-decoration: none;
						
						background: #fb565a;
						border-radius: 3px;

						&:hover{
							background: #e74246;
						}

						&:active{
							background: #d7373b;
						}
					}
				}

				&:nth-child(1){
					background-image: url('../img/slider.png');
					background-repeat: no-repeat;
					background-position: 100% 10px;
				}

				&:nth-child(2){
					background-image: url('../img/slider2.png');
					background-repeat: no-repeat;
					background-position: 100% 10px;
				}

				&:nth-child(3){
					background-image: url('../img/slider3.png');
					background-repeat: no-repeat;
					background-position: 100% 10px;
				}

				&:nth-child(1){
					// для переключения слайдера через js меняем тут nth-child и переключаем class="active" в i
					display: block;
				}
			}
		}
		

		//другой вариант слайдера
		// .wrapper{
		// 	ul{
		// 		margin: 0;
		// 		padding: 0;

		// 		li{
		// 			position: relative;

		// 			width: 1200px;
		// 			height: 429px;

		// 			&:first-child{background: url('../img/slider.png') no-repeat 0 0;}
		// 			&:first-child+li{background: url('../img/slider2.png') no-repeat 0 0;}
		// 			&.last{background: url('../img/slider3.png') no-repeat 0 0;}

		// 			.box-slider{
		// 				width: 516px;
						
		// 				position: absolute;
		// 				top: 74px;
		// 				left: 0;

		// 				h2{
		// 					margin: 0;
		// 					padding: 0;
		// 					margin-bottom: 38px;

		// 					color: #000;
		// 					font-size: 55px;
		// 					line-height: 55px;
		// 					font-weight: 500;
		// 				}

		// 				p{
		// 					margin: 0;
		// 					padding: 0;
		// 					margin-bottom: 44px;

		// 					color: #283136;
		// 					font-size: 16px;
		// 					line-height: 24px;
		// 				}

		// 				a{
		// 					background: #fb565a;
		// 					border-radius: 5px;

		// 					font-size: 16px;
		// 					line-height: 18px;
		// 					color: #fff;
		// 					font-weight: 500;

		// 					padding: 18px 52px;
		// 					display: inline-block;

		// 					&:hover{
		// 						background: #e74246;
		// 					}

		// 					&:active{
		// 						background: #d7373b;
		// 					}
		// 				}
		// 			}
		// 		}
		// 	}
		// }
	}

	//другой вариант слайдера
	// .unslider-nav{
	// 	max-width: 1200px;
	// 	margin: 0 auto;

	// 	position: relative;
	// 	top: -84px;
	// }
}
