@import "global.less";

.main-header{
	background: #000;

	margin-bottom: 56px;
	overflow: hidden;

	.main-nav{
		float: left;
		margin-left: 18px;
		width: 810px;

		.logo{
			float: left;
			width: 111px;
			height: 24px;
			margin-top: 22px;
			margin-right: 20px;

			font-size: 0;

			a{display: block;}
		}

		ul{
			float: left;
			margin: 0;
			padding: 0;
			list-style: none;

			li{
				float: left;

				&.active{
					position: relative;

					background: none;
					// cursor: pointer;

					&:after{
						content: "";
						position: absolute;
						right: 20px;
						bottom: 0;
						left: 20px;
						
						height: 5px;

						background: #fff;
					}
				}

				a{
					color: #fff;
					font-size: 16px;
					line-height: 20px;

					display: block;
					padding: 25px 20px;

					&:hover{background: #242424;}
				}
			}
		}
	}

	.user-block{
		float: right;
		max-width: 140px;

		background: url("../img/login.png") no-repeat 0 26px;

		a{
			display: block;
			padding: 25px 20px;
			padding-left: 32px;

			color: #fff;
			font-size: 16px;
			line-height: 20px;

			&:hover{color: #777;}
		}
	}
}

main{
	padding-bottom: 50px;

	.top-main{
		h2{
			padding: 0;
			margin: 0;
			margin-bottom: 22px;

			font-size: 30px;
			line-height: 42px;
		}

		ul{
			padding: 0;
			margin: 0;
			margin-bottom: 52px;

			li{
				float: left;
				position: relative;
				padding-right: 35px;

				&:last-child:after{
					display: none;
				}

				&:after{
					content: "";
					position: absolute;
					top: 5px;
					right: 12px;

					width: 10px;
					height: 10px;

					background: #000;
					transform: rotate(45deg);
				}

				a{
					font-size: 14px;
					line-height: 20px;
					color: #000;					
				}

				&.current a{color: #c5c2c0;}
			}
		}
	}

	.filter-items{
		float: left;
		width: 240px;
		
		h3{
			font-size: 24px;
			line-height: 30px;
			
			margin: 0;
			margin-bottom: 34px;	
		}

		.brands-items{
			margin-bottom: 55px;

			input{
				margin-bottom: 20px;

				&[name="checkbox6"]{margin-bottom: 0;}
			}

			label{
				margin-left: 20px;
				display: inline-block;
				margin-bottom: 10px;
				
				font-size: 14px;
				line-height: 18px;
			}
		}

		.type-items{
			input{
				margin-bottom: 24px;
			}

			label{
				font-size: 14px;
				line-height: 18px;
				
				display: inline-block;
				margin-bottom: 10px;
			}

			button{
				margin: 0;
				padding: 0;
				margin-top: 24px;
				width: 112px;
				padding: 14px 0;

				border: none;
				background: #000;
				cursor: pointer;

				color: #fff;
				font-size: 13px;
				line-height: 18px;
				font-weight: 700;
				font-family: "PT Sans Narrow", sans-serif;
				text-transform: uppercase;

				&:hover{background: #663d15;}
			}
		}
	}

	.description-items{
		margin-left: 240px;

		.items{
			article{
				width: 220px;
				margin-right: 20px;
				margin-bottom: 20px;
				float: left;

				background: #fff;
				box-shadow: 0px 0px 10px #000;

				&:nth-child(3n){margin-right: 0;}

				.item-img{font-size: 0;}

				p{
					font-size: 14px;
					line-height: 18px;
					
					margin: 18px 0;
					padding: 0 16px;
				}

				.item-price{
					padding: 0 16px;

					span{
						float: left;
						width: 110px;

						background: #e5e5e5;

						font-size: 14px;
						line-height: 18px;
						padding: 14px 0;
						text-align: center;
					}

					a{
						float: left;
						width: 78px;
						padding: 14px 0;
						margin-bottom: 16px;

						background: #000;

						color: #fff;
						font-size: 14px;
						line-height: 18px;
						text-align: center;

						&:hover{background: #663d15;}
					}
				}
			}
		}

		.pagination-items{
			ul{
				padding: 0;
				margin: 0;

				li{
					float: left;
					margin-right: 7px;

					&.current a{
						background: #fff;

						color: #000;
					}

					a{
						display: block;
						width: 43px;
						padding: 16px 0;

						background: #000;

						color: #fff;
						text-align: center;
						font-size: 14px;
						line-height: 18px;

						&:hover{background: #663d15;}
					}
				}
			}
		}
	}
}

.main-footer{
	padding: 40px 0 60px 0;

	background: #222222;
	box-shadow: 0 5px 30px 0 #000 inset;
	
	p, b, a{
		color: #fff;
		font-size: 14px;
		line-height: 24px;
	}

	.footer-contacts{
		float: left;
		width: 320px;
		margin: 0;
		margin-right: 60px;

		a{
			border-bottom: 2px solid #929292;

			&:hover{border-bottom: none;}
		}
	}

	.footer-social{
		width: 180px;
		float: left;
		text-align: center;

		margin: 0;

		b{
			margin: 0;
			margin-bottom: 19px; 
			display: block;
		}

		a{
			display: inline-block;
			vertical-align: top;
			width: 43px;
			height: 43px;
			
			&:hover{outline: 2px solid #fff;}
		}
	}

	.footer-copyright{
		float: right;
		width: 180px;
		margin: 0;

		text-align: center;

		b{
			margin: 0;
			margin-bottom: 18px;
			display: block;
		}

		.btn{
			padding: 12px 20px;
			
			&:hover{
				background: #fff;
				color:#000;
			}
		}
	}
}