*{
	outline: 1px solid black;
	box-sizing: border-box;
}

// one : for ie
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.clear{clear: both;}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	background-color: #fff;
	color: #000;

	// fonts
	

	// нужно добавить при появлении белой полоски при горизонтальном скролле
	//overflow-x: hidden;

	img {
		max-width: 100%;
		height: auto;
		
		// for ie 9
		border: 0;
	}
	
	ul{list-style: none;}
	a{text-decoration: none;}
	
	// h1,h2,h3,h4,p,ul,input,picture {margin: 0; padding: 0;}

	// .wrap{
	// 	margin-left: auto;
	// 	margin-right: auto;
	// 	height: 100%;
	// }
}