@import "config.less";

.wrapper{
	max-width: 1171px;
	margin: 0 auto;
}

header{
	.wrapper{
		.header-top{
			border-bottom: 1px solid #eeeeee;
			padding: 30px 0;

			.logo{
				float: left;
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: bold;
				color: #67686d;
			}

			.contact-basket{
				float: right;
				
				p{
					float: left;
					margin-left: 25px;

					&:first-child{margin-left: 0;}
					
					img{
						margin-bottom: -3px;
						margin-right: 7px;
					}
				}

				.header-phone{
					font-size: 12px;
					font-weight: bold;
					min-width: 126px;				
				}

				.header-basket{
					font-size: 12px;
					border: 1px solid #eee;
					padding: 12px 27px 12px 20px;
					margin-top: -12px;
					min-width: 165px;

					a{
						font-weight: bold;
						font-size: 12px;
						text-transform: uppercase;
						color:#7e7f84;
						text-decoration: none;
						margin-left: 38px;

						&:hover{color: #f45a40;}
					}
				}
			}
		}
		.header-bottom{
			margin:  15px 0;

			nav{
				float: left;

				ul{
					list-style: none;
					overflow: hidden;

					li{
						float: left;
						margin-right: 36px;

						a{
							color: #7e7f84;
							font-size: 14px;
							line-height: 1.42;
							display: block;

							&:hover{color: #f45a40;}
						}
					}
				}
			}
			.search-block{
				float: left;

				.search-btn{
					float: left;
					margin: 2px 5px 0 0;
				}

				.search{
					float: left;
					font-size: 14px;
					line-height: 1.42;

					outline: 0;
					border: 0;
				}
			}
		}
	}
}

.slider{
	//
	
}