* {
  outline: 1px solid black;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  padding: 0;
  margin: 0;
  color: #7e7f84;
  font-family: 'Roboto', sans-serif;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
p,
h2,
h3,
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 1171px;
  margin: 0 auto;
}
.wrapper header .header-top {
  border-bottom: 1px solid #eeeeee;
  padding: 30px 0;
}
.wrapper header .header-top .logo {
  float: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #67686d;
  font-size: 22.65px;
}
.wrapper header .header-top .contact-basket {
  float: right;
}
.wrapper header .header-top .contact-basket p {
  float: left;
  margin-left: 25px;
}
.wrapper header .header-top .contact-basket p:first-child {
  margin-left: 0;
}
.wrapper header .header-top .contact-basket p img {
  margin-bottom: -3px;
  margin-right: 7px;
}
.wrapper header .header-top .contact-basket .header-phone {
  font-size: 12px;
  font-weight: bold;
  min-width: 126px;
}
.wrapper header .header-top .contact-basket .header-basket {
  font-size: 12px;
  border: 1px solid #eee;
  padding: 12px 27px 12px 20px;
  margin-top: -12px;
  min-width: 165px;
}
.wrapper header .header-top .contact-basket .header-basket a {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #7e7f84;
  text-decoration: none;
  margin-left: 38px;
}
.wrapper header .header-top .contact-basket .header-basket a:hover {
  color: #f45a40;
}
.wrapper header .header-bottom {
  margin: 15px 0;
}
.wrapper header .header-bottom nav {
  float: left;
}
.wrapper header .header-bottom nav ul {
  list-style: none;
  overflow: hidden;
}
.wrapper header .header-bottom nav ul li {
  float: left;
  margin-right: 36px;
}
.wrapper header .header-bottom nav ul li a {
  color: #7e7f84;
  font-size: 14px;
  line-height: 1.42;
  display: block;
}
.wrapper header .header-bottom nav ul li a:hover {
  color: #f45a40;
}
.wrapper header .header-bottom .search-block {
  float: left;
}
.wrapper header .header-bottom .search-block .search-btn {
  float: left;
  margin: 2px 5px 0 0;
}
.wrapper header .header-bottom .search-block .search {
  float: left;
  font-size: 14px;
  line-height: 1.42;
  outline: 0;
  border: 0;
}
.wrapper .slider {
  margin-bottom: 52px;
}
.wrapper .slider img {
  display: block;
}
.wrapper .first-section {
  margin-bottom: 65px;
}
.wrapper .first-section article {
  float: left;
  margin-left: 2.56%;
  width: 31.6%;
}
.wrapper .first-section article:first-child {
  margin-left: 0;
}
.wrapper .first-section article img {
  display: block;
}
.wrapper .first-section article h2 {
  margin: 25px 0;
}
.wrapper .first-section article h2 a {
  color: #f45a40;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22.65px;
}
.wrapper .first-section article h2 a:hover {
  text-decoration: underline;
}
.wrapper .first-section article p {
  color: #7e7f84;
  font-size: 14px;
  line-height: 1.5;
}
.wrapper .second-section {
  margin-bottom: 70px;
}
.wrapper .second-section > h2 {
  margin-bottom: 42px;
  color: #67686d;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22.65px;
  text-align: center;
}
.wrapper .second-section .second-section-bottom .second-section-bottom-article {
  width: 23%;
  margin-left: 2.666%;
  float: left;
}
.wrapper .second-section .second-section-bottom .second-section-bottom-article:first-child {
  margin-left: 0;
}
.wrapper .second-section .second-section-bottom .second-section-bottom-article img {
  display: block;
}
.wrapper .second-section .second-section-bottom .second-section-bottom-article article {
  padding: 22px;
  color: #67686d;
  border: 1px solid #eeeeee;
}
.wrapper .second-section .second-section-bottom .second-section-bottom-article article h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.wrapper .second-section .second-section-bottom .second-section-bottom-article article h3 {
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 15px;
}
.wrapper .second-section .second-section-bottom .second-section-bottom-article article h3 + p {
  color: #7e7f84;
  font-size: 10px;
  line-height: 2.1;
  margin-bottom: 16px;
}
.wrapper .second-section .second-section-bottom .second-section-bottom-article article .price-plus {
  border-top: 1px solid #eeeeee;
  overflow: hidden;
}
.wrapper .second-section .second-section-bottom .second-section-bottom-article article .price-plus span:first-child {
  float: left;
  margin-top: 14px;
  color: #f45a40;
  font-size: 14px;
  line-height: 1.5;
}
.wrapper .second-section .second-section-bottom .second-section-bottom-article article .price-plus span + span {
  float: right;
  margin-top: 16px;
}
.wrapper .about {
  margin-bottom: 28px;
}
.wrapper .about article {
  float: left;
  width: 60%;
}
.wrapper .about article h2 {
  color: #67686d;
  font-size: 22.65px;
  margin-bottom: 46px;
}
.wrapper .about article p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 32px;
}
.wrapper .about article .last-p {
  margin-bottom: 0;
}
.wrapper .about .map {
  float: right;
  widht: 35%;
  margin-top: 25px;
  font-size: 0;
}
.subscribe {
  padding: 42px 0;
  background: #f45a40;
}
.subscribe .wrapper h2 {
  color: #fff;
  font-size: 22.65px;
  font-weight: normal;
  float: left;
  margin-top: 8px;
}
.subscribe .wrapper .subscribe-form {
  float: right;
}
.subscribe .wrapper .subscribe-form input:first-child {
  border: none;
  outline: none;
  width: 246px;
  padding: 14px 22px;
  font-size: 14px;
  background: #fff;
  float: left;
}
.subscribe .wrapper .subscribe-form input + input {
  text-transform: uppercase;
  background: #ff674f;
  float: left;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  padding: 14px 22px;
  margin-left: 22px;
}
footer {
  background: #2a2d34;
  min-height: 355px;
}
