.main-catalog{
	.list-catalog{
		ul{
			margin: 0;
			padding: 22px 0;

			li{
				display: inline-block;
				padding-left: 40px;

				background: url('../img/icon-right.png') 15px 50% no-repeat;


				&:first-child{
					padding-left: 52px;

					background: url('../img/icon-home.png') 0 50% no-repeat, url('../img/icon-right.png') 28px 50% no-repeat;
				}

				a{
					color: #000;
					font-size: 13px;
					line-height: 18px;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
	}

	.item-name{
		background: #f2f6f8;

		margin: 0;
		padding: 30px 27px;
		
		color: #32425c;
		font-size: 30px;
		line-height: 30px;
		font-weight: 400;
		text-transform: uppercase;
	}
	
	.filter-items{
		float: left;
		width: 220px;



	}

	.items{
		float: right;
		width: 700px;

	}
}