.main-catalog{
	.list-catalog{
		ul{
			margin: 0;
			padding: 22px 0;

			li{
				display: inline-block;
				padding-left: 40px;

				background: url('../img/icon-right.png') 15px 50% no-repeat;

				&:first-child{
					padding-left: 52px;

					background: url('../img/icon-home.png') 0 50% no-repeat, url('../img/icon-right.png') 28px 50% no-repeat;
				}

				a{
					color: #000;
					font-size: 13px;
					line-height: 18px;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
	}

	.item-name{
		background: #f2f6f8;

		margin: 0;
		margin-bottom: 20px;
		padding: 30px 27px;
		
		color: #32425c;
		font-size: 30px;
		line-height: 30px;
		font-weight: 400;
		text-transform: uppercase;
	}
	
	.filter-items{
		float: left;
		width: 220px;

		span{
			color: #000;
			font-size: 13px;
			line-height: 18px;
			text-transform: uppercase;

			background: #f7f3ec;

			padding: 13px 17px;
			display: block;
		}

		.range-filter{
			h3{
				margin: 0;
				padding: 18px 0;

				border-radius: 5px;

				color: #000;
				font-size: 17px;
				line-height: 30px;
				font-weight: 700;
			}

			>input{
				width: 100%;

			}

			.min-max-range{
				margin-top: 9px;
				padding-bottom: 25px;
				border-bottom: 1px solid #e5e5e5;
				
				.min-range, .max-range{
					float: left;
					width: 95px;
					padding: 10px 0;

					background: #f7f3ec;
					border: none;
					border-radius: 5px;

					text-align: center;
				}

				span{
					float: left;
					padding: 0;
					background: #fff;

					margin-top: 10px;
					margin-left: 10px;

					color: #444444;
					font-size: 16px;
					line-height: 18px;
				}

				.max-range{
					float: right;
				}
			}
		}

		.brand-filter{
			margin: 0;
			padding-bottom: 20px;

			border-bottom: 1px solid #e5e5e5;

			h3{
				margin: 0;
				padding: 23px 0 20px 0;

				color: #000;
				font-size: 17px;
				line-height: 30px;
				font-weight: 700;
			}

			label{
				// 8
				input{
					
				}
			}
		}

		.battery-filter{
			margin: 0;
			margin-bottom: 75px;

			h3{
				margin: 24px 0 16px 0;
			}

			label{

				input{

				}
			}
		}

		button{
			color: #000;
			font-size: 13px;
			line-height: 18px;

			padding: 12px;
			width: 138px;

			border: 1px solid #e5e5e5;
			border-radius: 5px;
			background: #fff;
			cursor: pointer;
		}
	}

	.items{
		float: right;
		max-width: 700px;

		.sort-items{
			background: #f7f3ec;
			padding: 12px 16px;

			span{
				float: left;	

				color: #000;
				font-size: 13px;
				line-height: 18px;
				text-transform: uppercase;
			}

			ul{
				margin: 0;
				padding: 0;

				float: right;

				li{
					float: left;
					margin-left: 62px;

					&:first-child{
						margin-left: 0;
					}

					&:nth-child(4){
						margin-left: 45px;
					
						a{
							background: url('../img/up.png') no-repeat;
							opacity: 1;

							margin-top: 5px;
							width: 11px;
							height: 10px;
							display: block;
							border-bottom: none;

							&:hover{
								background: url('../img/up-hover.png') no-repeat;
								border-bottom: none;
							}

							&:active{
								background: url('../img/up-active.png') no-repeat;
								border-bottom: none;
							}
						}
					}

					&:nth-child(5){
						margin-left: 20px;
					
						a{
							background: url('../img/down.png') no-repeat;
							opacity: 1;

							margin-top: 5px;
							width: 11px;
							height: 10px;
							display: block;
							border-bottom: none;

							&:hover{
								background: url('../img/down-hover.png') no-repeat;
								border-bottom: none;
							}

							&:active{
								background: url('../img/down-active.png') no-repeat;
								border-bottom: none;
							}
						}
					}

					&.active-li a{
						color: #ee3643;
						opacity: 1;
						border-bottom: none;
					}

					&.active-li-up a{
						background: url('../img/up-active.png') no-repeat;
					}

					&.active-li-down a{
						background: url('../img/down-active.png') no-repeat;
					}

					a{
						color: #000;
						font-size: 13px;
						line-height: 18px;
						opacity: .3;
						text-transform: uppercase;

						border-bottom: 1px dotted #ee3643;

						&:hover{
							opacity: 1;
							border-bottom: 1px solid #ee3643;
						}

						&:active{
							color: #ee3643;
							border-bottom: none;
						}
					}
				}
			}
		}

		.list-items{
			.item{
				width: 218px;
				padding: 0 30px 20px 30px;
				margin-top: 20px;
				margin-right: 20px;
				float: left;

				box-sizing: border-box;
				border: 1px solid #e5e5e5;

				text-align: center;

				&:hover{
					box-shadow: 0 0 10px #293449;
				}

				.favorite{
					height: 125px;

					position: relative;

					.buy{
						position: absolute;
						top: 20px;
						left: 50%;
						transform: translate(-50%);

						width: 136px;
						padding: 12px 0 9px 0;
						display: block;

						border-bottom: 3px solid #367315;
						background: #63a63e;
						border-radius: 3px;

						color: #fff;
						font-size: 14px;
						line-height: 18px;
						text-transform: uppercase;

						&:hover{
							background: #5fbb2d;
						}

						&:active{
							background: #518534;
						}

						&:after{
							content: '';
							position: absolute;
							top: 50%;
							left: 13px;
							transform: translateY(-50%);
						
							background: url('../img/basket-icon.png') no-repeat;
							width: 17px;
							height: 16px;
						}
					}

					.to-favorite{
						position: absolute;
						top: 69px;
						left: 50%;
						transform: translate(-50%);

						width: 136px;
						padding: 12px 0 9px 0;
						box-sizing: border-box;
						display: block;

						border: 3px solid #64a63f;
						background: #ffff;
						border-radius: 3px;

						color: #32425c;
						font-size: 14px;
						line-height: 18px;
						text-transform: uppercase;

						&:hover{
							border: 3px solid #32425c;
						}

						&:active{
							opacity: .3;
						}
					}
				}

				// &:nth-child(3), &:nth-child(6), &:nth-child(9){
				// 	margin-right: 0;
				// }

				&:nth-child(3n){
					margin-right: 0;
				}
				
				// new icon
				&:nth-child(3), &:nth-child(5), &:nth-child(7){
					position: relative;
					
					&:after{
						content: '';
						position: absolute;
						top: 0;
						right: 30px;	//60 width - 30 padding
					
						background: url('../img/new.png') no-repeat;
						width: 60px;
						height: 59px;						
					}
				}

				h2{
					margin: 0;
					margin-bottom: 12px;

					color: #000;
					font-size: 18px;
					line-height: 20px;
					font-weight: 700;
				}

				span{
					display: block;
					margin-bottom: 10px;

					color: #999999;
					font-size: 17px;
					line-height: 18px;
					font-weight: 700;
					text-decoration: line-through;
				}

				.price{
					display: block;
					width: 140px;
					padding: 10px;
					background: #ee3643;

					position: relative;

					&:after{
						content: '';
						position: absolute;
						top: 0;
						right: 0;
					
						background: url('../img/icon-right2.jpg') no-repeat;
						width: 18px;
						height: 38px;
					}

					color: #fff;
					font-size: 17px;
					line-height: 18px;
					font-weight: 700;
				}
			}
		}

		.pagination{
			margin-top: 54px;
			margin-bottom: 60px;

			ul{
				margin: 0;
				padding: 0;

				li{
					display: inline-block;
					margin-left: 6px;
					width: 37px;

					&:first-child{
						margin-left: 0;
					}

					&:last-child{
						width: 138px;
					}

					&.active-li a{
						background: #ee3643;

						color: #fac9cd;
					}

					a{
						display: block;
						padding: 11px 0;
						border: 1px solid #e5e5e5;
						border-radius: 3px;

						color: #000;
						font-size: 13px;
						line-height: 18px;
						text-align: center;

						&:hover{
							border: 1px solid #bdc6ca;
						}

						&:active{
							border: 1px solid #ee3643;
						}
					}
				}
			}
		}
	}
}