.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
body img {
  max-width: 100%;
  height: auto;
}
body h1,
body h2,
body h3,
body p,
body ul,
body input {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}
.wrapper {
  width: 1024px;
  margin: 0 auto;
}
.unslider-nav {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  top: -44px;
}
header .header-top {
  background: #4cb1ca;
}
header .header-top .language-usd {
  float: left;
  padding: 19px 0 17px 0;
}
header .header-top .language-usd label {
  color: #bef2ff;
  font-size: 13px;
  margin-right: 10px;
}
header .header-top .language-usd select + label {
  margin-left: 20px;
}
header .header-top .top-menu {
  float: right;
}
header .header-top .top-menu ul {
  margin: 19px 0 17px 0;
}
header .header-top .top-menu ul li {
  float: left;
  border-left: 1px solid #bff2ff;
}
header .header-top .top-menu ul li:first-child {
  border-left: none;
}
header .header-top .top-menu ul li a {
  color: #fff;
  font-size: 13px;
  padding: 0 15px;
  diaplay: block;
}
header .header-top .top-menu ul li a:hover {
  color: #bff2ff;
}
header .header-bottom {
  background: #fff;
  padding: 0 3px;
  box-sizing: border-box;
}
header .header-bottom .logo {
  float: left;
  font-size: 36px;
  color: #656565;
  font-weight: bold;
  text-transform: uppercase;
  margin: 42px 59px 42px 0;
}
header .header-bottom .bottom-menu {
  float: left;
  margin-top: 54px;
}
header .header-bottom .bottom-menu ul li {
  float: left;
  margin-left: 25px;
}
header .header-bottom .bottom-menu ul li:first-child {
  margin-left: 0;
}
header .header-bottom .bottom-menu ul li a {
  color: #656565;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
header .header-bottom .bottom-menu ul li a:hover {
  color: #000;
}
header .header-bottom .search {
  float: right;
  margin: 42px 14px 0 0;
}
header .header-bottom .search form input {
  width: 172px;
  background: url(../img/search.png) no-repeat right 10px;
  border: 1px solid #c6c6c6;
  outline: none;
  color: #b7b7b7;
  font-size: 13px;
  padding: 8px 15px 8px 8px;
}
header .header-bottom .basket {
  float: right;
  width: 146px;
  margin: 41px 0;
  font-size: 10px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
header .header-bottom .basket a img {
  float: left;
}
header .header-bottom .basket a + a img {
  margin-left: 4px;
}
header .header-bottom .basket p {
  float: left;
  margin: 10px 0 0 12px;
}
.content {
  margin-top: 28px;
  padding: 0 3px;
  box-sizing: border-box;
}
.content main {
  margin-right: 233px;
  overflow: hidden;
}
.content main section h2 {
  color: #635f57;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-weight: normal;
}
.content main section article {
  float: left;
  padding: 8px;
  border: 1px solid #eeeeee;
  margin: 0 23px 26px 0;
  box-shadow: 0 0 10px #f5f5f5;
}
.content main section article img {
  margin-bottom: -2px;
}
.content main section article .left {
  float: left;
  width: 160px;
}
.content main section article .left p {
  color: #464148;
  font-size: 14px;
  line-height: 22px;
}
.content main section article .left span {
  color: #7db122;
  font-size: 18px;
  line-height: 22px;
}
.content main section article .right {
  float: right;
}
.content main section article .right a {
  font-size: 0;
}
.content main section:first-child {
  margin-bottom: 26px;
}
.content main section:first-child + section {
  margin-bottom: 38px;
}
.content main .last-section {
  margin-bottom: 49px;
}
.content aside {
  float: right;
  width: 233px;
  border-top: 4px solid #4cb1ca;
}
.content aside .aside-top {
  margin-bottom: 10px;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 10px #f5f5f5;
}
.content aside .aside-bottom {
  border: 1px solid #eeeeee;
  border-top: 4px solid #4cb1ca;
  box-shadow: 0 0 10px #f5f5f5;
}
.content aside .aside-bottom form {
  text-align: center;
}
.content aside .aside-bottom form h2 {
  color: #635f57;
  font-size: 24px;
  margin: 23px 0 15px 0;
  text-transform: uppercase;
}
.content aside .aside-bottom form p {
  margin-bottom: 27px;
  color: #696969;
  font-size: 14px;
}
.content aside .aside-bottom form input {
  margin-bottom: 18px;
  width: 183px;
  height: 27px;
  border: 1px solid #e2e2e2;
  padding-left: 10px;
  padding-right: 10px;
  color: #b7b7b7;
}
.content aside .aside-bottom form input::placeholder {
  color: #b7b7b7;
}
.content aside .aside-bottom form button {
  margin-bottom: 31px;
  color: #696969;
  font-size: 14px;
  line-height: 22px;
  padding: 18px 24px 18px 24px;
  border: none;
  background: #7eb123;
  color: #fff;
  cursor: pointer;
}
.call-us {
  background: #4cb1ca;
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
}
.call-us .wrapper {
  overflow: hidden;
}
.call-us .wrapper p:first-child {
  background: url(../img/to-car.png) 0 21px no-repeat;
  float: left;
  padding: 45px 0 46px 83px;
  margin-left: 3px;
}
.call-us .wrapper p + p {
  background: url(../img/phone.png) 0 21px no-repeat;
  float: right;
  padding: 45px 31px 46px 83px;
  margin-right: 3px;
}
footer .footer-top {
  min-height: 334px;
  background: #39a0b9;
}
footer .footer-top .wrapper {
  padding-top: 49px;
}
footer .footer-top .wrapper h2 {
  color: #f5f5f5;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 38px;
}
footer .footer-top .wrapper .facebook {
  width: 233px;
  margin-left: 3px;
  float: left;
  margin-right: 28px;
}
footer .footer-top .wrapper .from-twitter {
  width: 233px;
  float: left;
  margin-right: 28px;
  margin-bottom: 68px;
}
footer .footer-top .wrapper .from-twitter p {
  background: url(../img/twitter.png) 0 0 no-repeat;
  color: #fff;
  font-size: 13px;
  line-height: 1.46;
  padding-left: 50px;
  padding-bottom: 36px;
}
footer .footer-top .wrapper .from-twitter p.last-p {
  padding-bottom: 0;
}
footer .footer-top .wrapper .from-twitter p span {
  color: #9ae2f4;
}
footer .footer-top .wrapper .information {
  width: 233px;
  float: left;
  margin-right: 28px;
}
footer .footer-top .wrapper .information ul li {
  background: url(../img/arrow.png) 0 6px no-repeat;
  color: #fff;
  font-size: 13px;
  line-height: 1.84;
  padding-left: 15px;
  margin-top: 17px;
}
footer .footer-top .wrapper .information ul li:first-child {
  margin-top: 0;
}
footer .footer-top .wrapper .contact-us {
  width: 233px;
  float: left;
}
footer .footer-top .wrapper .contact-us .contact-top {
  padding-bottom: 16px;
  border-bottom: 1px solid #4cb1ca;
}
footer .footer-top .wrapper .contact-us .contact-top p {
  color: #fff;
  font-size: 13px;
  line-height: 1.84;
  margin-top: 17px;
}
footer .footer-top .wrapper .contact-us .contact-top p:first-child {
  margin-top: 0;
}
footer .footer-top .wrapper .contact-us .contact-bottom {
  margin-top: 16px;
  font-size: 0;
}
footer .footer-top .wrapper .contact-us .contact-bottom a {
  margin-left: 10px;
}
footer .footer-top .wrapper .contact-us .contact-bottom a:first-child {
  margin-left: 0;
}
footer .footer-bottom {
  background: #0b4b5a;
}
footer .footer-bottom .wrapper {
  color: #8adcf0;
  font-size: 13px;
  line-height: 1.46;
}
footer .footer-bottom .wrapper .copyright {
  margin: 27px 0 27px 3px;
  float: left;
}
footer .footer-bottom .wrapper .footer-nav {
  float: right;
  margin: 27px 3px 27px 0;
}
footer .footer-bottom .wrapper .footer-nav ul li {
  padding: 0 14px;
  float: left;
  border-left: 1px solid #39a0b9;
}
footer .footer-bottom .wrapper .footer-nav ul li.last-li {
  margin-right: 0;
}
footer .footer-bottom .wrapper .footer-nav ul li:first-child {
  padding-left: 0;
  border-left: none;
}
footer .footer-bottom .wrapper .footer-nav ul li a {
  color: #8adcf0;
}
footer .footer-bottom .wrapper .footer-nav ul li a:hover {
  color: #fffcf0;
}
